<div id="body" style="width:1050px;height:1085px;position:absolute;top:200px;">
  <table border="1" style="border:1px solid black; width:850px;top:100px; left:100px;position:absolute;border-collapse: collapse;">
    <tr style="height:50px;">
      <th colspan="2">RENDIMENTO ESCOLAR</th>
    </tr>
    <tr style="height:40px;">
      <td style="width:650px;"><strong> NOME:</strong> $nome$</td>
      <td><strong> SEMESTRE:</strong> $sem$</td>
    </tr>
  </table>
  <table border="1" style="border:1px solid black; width:850px; left:100px;top:190px;position:absolute;border-collapse: collapse;">
    <tr style="height:40px;">
      <td style="width:250px;"><strong> MATRÍCULA:</strong> $matricula$</td>
      <td><strong> CURSO:</strong> $curso$</td>
    </tr>
  </table>
  <table border="1" style="border:1px solid black; width:850px; left:100px;top:230px;position:absolute;border-collapse: collapse;">
    <tr style="height:40px;">
      <td style="width:200px;"><strong> SÉRIE:</strong> $serie$ ano</td>
      <td style=""><strong> TURMA:</strong> $turma$</td>
      <td style="width:150px;"><strong> ANO:</strong> $ano$</td>
    </tr>
  </table>
  <table border="1" style="border:1px solid black; width:850px; left:100px;top:270px;position:absolute;border-collapse: collapse;">
    <tr style="height:40px;">
      <th style="width:600px;">DISCIPLINA</th>
      <th style="width:50px;">N1</th>
      <th style="width:50px;">N2</th>
      <th style="width:50px;">N3</th>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina1$</td>
      <td style="width:50px;text-align:center;">$n1_1$</td>
      <td style="width:50px;text-align:center;">$n2_1$</td>
      <td style="width:50px;text-align:center;">$n3_1$</td>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina2$</td>
      <td style="width:50px;text-align:center;">$n1_2$</td>
      <td style="width:50px;text-align:center;">$n2_2$</td>
      <td style="width:50px;text-align:center;">$n3_2$</td>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina3$</td>
      <td style="width:50px;text-align:center;">$n1_3$</td>
      <td style="width:50px;text-align:center;">$n2_3$</td>
      <td style="width:50px;text-align:center;">$n3_3$</td>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina4$</td>
      <td style="width:50px;text-align:center;">$n1_4$</td>
      <td style="width:50px;text-align:center;">$n2_4$</td>
      <td style="width:50px;text-align:center;">$n3_4$</td>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina5$</td>
      <td style="width:50px;text-align:center;">$n1_5$</td>
      <td style="width:50px;text-align:center;">$n2_5$</td>
      <td style="width:50px;text-align:center;">$n3_5$</td>
    </tr>
    <tr style="height:40px;">
      <td style="width:600px;">$disciplina6$</td>
      <td style="width:50px;text-align:center;">$n1_6$</td>
      <td style="width:50px;text-align:center;">$n2_6$</td>
      <td style="width:50px;text-align:center;">$n3_6$</td>
    </tr>
  </table>
</div>
