<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Cadastro de Usuários</title>
	<th:block th:include="layout/header"></th:block>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Cadastro de Usuários</strong>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" th:object="${usuario}" th:action="@{/usuarios}" method="POST" style="margin: 10px">
				<div class="form-group">
 					<fieldset>
						<div class="form-group row">
							<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
								<div th:each="detailedError : ${#fields.detailedErrors()}">
									<span th:text="${detailedError.message}"></span>
								</div>
							</div>
						</div>
						<div class="form-group row">
						    <div class="col-md-1">
						        <input type="hidden" class="form-control input-sm" id="id" th:field="*{id}" readOnly="readonly"/>
						    </div>
						 </div>

						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('login')}? 'has-error'">
								<label>Login</label>
								<input type="text" class="form-control input-sm" th:field="*{login}" maxlength="150" placeholder="Informe login"/>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('senha')}? 'has-error'">
								<label>Senha</label>
								<input type="password" class="form-control input-sm" th:field="*{senha}" placeholder="Informe a senha"/>
							</div>
						</div>
						<!-- <div class="form-group row">
							<div class="col-md-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
								<label>Email</label>
								<input type="text" class="form-control input-sm" th:field="*{email}" placeholder="Informe o email"></textarea>
							</div>
						</div>	 -->
					</fieldset>
				</div>
				<div class="form-group row">
					<button type="submit" class="btn btn-sm btn-primary">Salvar</button>
					<a th:href="@{/usuarios}" class="btn btn-sm btn-default">Cancelar</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
