<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Escolas</title>
	<th:block th:include="layout/header"></th:block>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Escolas</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
							<th>Nome</th>
							<th>CNPJ</th>
							<th>Endereço</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="escola : ${escolas}">
							<td th:text="${escola.nome}"></td>
							<td th:text="${escola.CNPJ}"></td>
							<td th:text="${escola.localizacao}"></td>
							<td>
								<div class="btn-group pull-right">
							   		<a th:href="${'/anoEscolar/' + escola.id}" class="btn btn-default">Ver Controle</a>
							   		<a th:href="${'/escolas/edit/' + escola.id}" class="btn btn-default">Editar</a>
                					<a th:href="${'/escolas/delete/' + escola.id}" class="btn btn-danger">Deletar</a>
							   </div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel-footer">
			<a class="btn btn-success" th:href="@{/escolas/add}" >Adicionar</a>
		</div>
	</div>
</body>
</html>
