<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"
          rel="stylesheet" media="screen" />
    <link rel="stylesheet" th:href="@{/css/style.css}" href="css/style.css" />
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a class="gerenciar" th:href="@{/alimentos}">Gerenciar Alimentos</a></li>
                        <li><a class="gerenciar" th:href="@{/escolas}">Gerenciar Escolas</a></li>
                        <li><a class="gerenciar" th:href="@{/usuarios}">Usuarios</a></li>
                        <li><a class="logout" th:href="@{/logout}">Desconectar</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

</body>
</html>
