<!DOCTYPE html>
<html>
<body>
	<div id="background" style="width:1050px;height:1485px;border:1px solid black;top:0px;position:relative;">
    <div id="header" style="width:1050px;height:200px;border-bottom:1px solid black;position:absolute;top:0px;">
     <img src="../imagens/1_1.png" style="height:60%;">
     <h1 style="position:absolute; top:-10px; left:100px;">Prefeitura de Caxias</h1>
     <h2 style="position:absolute; top:25px; left:100px;">$nomeescola$</h2>
     <h1 style="position:absolute; bottom:0px; left:475px;;">$titulo$</h1>
     <h4 style="position:absolute; bottom:-20px; left:0px;;">Semestre: $semestre$</h4>
    </div>


	</div>
</body>
</html>
